# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [2]:
# Your code here
import random

numbers = [random.randint(1,100) for i in range(1,13)]
len(numbers)
numbers

[22, 12, 15, 78, 90, 72, 41, 93, 7, 38, 65, 76]

In [4]:
asc_nums = sorted(numbers)
asc_nums

[7, 12, 15, 22, 38, 41, 65, 72, 76, 78, 90, 93]

In [6]:
des_nums = sorted(numbers)[::-1]
des_nums

[93, 90, 78, 76, 72, 65, 41, 38, 22, 15, 12, 7]

In [8]:
avg_group = sum(numbers)/len(numbers)
avg_group

50.75

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [11]:
# Your code here
import math
def volume_sphere(r):
    v = (4/3) * math.pi * r*r*r
    return v

print("r", "V")
for i in range(1,11):
    print(i, volume_sphere(i))

r V
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923255
4 268.082573106329
5 523.5987755982989
6 904.7786842338604
7 1436.755040241732
8 2144.660584850632
9 3053.628059289279
10 4188.790204786391

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [20]:
# Your code here

"""
(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it.
The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. 
Finally, print the values in the ascending order.
"""
import pandas as pd
df = pd.read_csv("lab_assignment_02_denton_housing.csv")
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [21]:
df["title_field"].unique()

array(['Total Housing Units', 'Vacant Housing Units',
       'Occupied Housing Units', 'Owner Occupied', 'Renter Occupied',
       'Median Gross Rent'], dtype=object)

In [22]:
occipied_housing_units = df[df["title_field"]=="Occupied Housing Units"]
occipied_housing_units.shape

(7, 3)

In [24]:
occipied_housing_units

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711

In [26]:
occipied_housing_units = occipied_housing_units.sort_values("year")
occipied_housing_units

    year             title_field  value
20  2008  Occupied Housing Units  36711
17  2009  Occupied Housing Units  35916
14  2010  Occupied Housing Units  41007
11  2011  Occupied Housing Units  40704
8   2012  Occupied Housing Units  42108
5   2013  Occupied Housing Units  43673
2   2014  Occupied Housing Units  46295

In [42]:
years = list(occipied_housing_units["year"])
values = list(occipied_housing_units["value"])
temp = {}
print(len(years))
for i in range(0,len(years)-1):
    keys = f"{years[i]} - {years[i+1]}"
    temp [keys] = values[i+1]-values[i]
temp

7

{'2008 - 2009': -795,
 '2009 - 2010': 5091,
 '2010 - 2011': -303,
 '2011 - 2012': 1404,
 '2012 - 2013': 1565,
 '2013 - 2014': 2622}

In [44]:
for w in sorted(temp, key=temp.get, reverse=False):
    print(w, temp[w])

2008 - 2009 -795
2010 - 2011 -303
2011 - 2012 1404
2012 - 2013 1565
2013 - 2014 2622
2009 - 2010 5091

In [45]:
"""
(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

2008  30%   70%                          
2009 ----- -----
2010 ----- -----
2011 ----- -----
2012 ----- -----
2013 ----- -----
2014 ----- -----
"""
total_housing_units = df[df["title_field"]=="Total Housing Units"]
vacant_housing_units = df[df["title_field"]=="Vacant Housing Units"]
occupied_housing_units = df[df["title_field"]=="Occupied Housing Units"]

In [46]:
total_housing_units.shape, vacant_housing_units.shape, occupied_housing_units.shape

((7, 3), (7, 3), (7, 3))

In [59]:
fianl_data = []
for i in range(len(years)):
    temp = []
    vacant = vacant_housing_units[vacant_housing_units["year"] == years[i]]
    total = total_housing_units[total_housing_units["year"] == years[i]]
    occupied = occupied_housing_units[occupied_housing_units["year"] == years[i]]
#     print(years, int(total["value"]), int(vacant["value"]), int(occupied["value"]))
    vacant_per = int((int(vacant["value"])/int(total["value"]))*100)
    occupied_per = int((int(occupied["value"])/int(total["value"]))*100)
    print("{}  {}%  {}%".format(years[i], vacant_per, occupied_per))
#     temp.append(years[i])
#     temp.append()

2008  10%  89%
2009  9%  90%
2010  8%  91%
2011  9%  90%
2012  6%  93%
2013  8%  91%
2014  5%  94%

In [66]:
"""
(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

                          Year    Value
Vacant Housing Units      -----   -----
Occupied Housing Units    -----   -----
"""

value = max(list(vacant_housing_units["value"]))
year = vacant_housing_units[vacant_housing_units["value"] == value]["year"]
print("                       year  value".format( year, value))
print("Vacant Housing Units  {}  {}".format( year, value))
value = max(list(occupied_housing_units["value"]))
year = occupied_housing_units[occupied_housing_units["value"] == value]["year"]
print("Occupied Housing Units  {}  {}".format( year, value))

                       year  value
Vacant Housing Units  19    2008
Name: year, dtype: int64  4483
Occupied Housing Units  2    2014
Name: year, dtype: int64  46295

In [67]:
"""
(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out.
You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm
"""

from statistics import harmonic_mean
print(harmonic_mean(list(total_housing_units["value"])))

44398.28543969185

In [68]:
list(total_housing_units["value"])

[49109, 47888, 45121, 44917, 44642, 39499, 41194]