# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random
df1 = random.sample(range(1,100),12)
print("Random list of Numbers:",df1)
print("List of Numbers in Ascending Order:",sorted(df1))
print("List of Numbers in Ascending Order:",sorted(df1,reverse = True))
print("Average Value:",sum(df1)/len(df1))

Random list of Numbers: [31, 39, 54, 51, 22, 26, 7, 96, 43, 10, 99, 44]
List of Numbers in Ascending Order: [7, 10, 22, 26, 31, 39, 43, 44, 51, 54, 96, 99]
List of Numbers in Ascending Order: [99, 96, 54, 51, 44, 43, 39, 31, 26, 22, 10, 7]
Average Value: 43.5

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [2]:
# Your code here
import pandas as pd
data = {'r':[1,2,3,4,5,6,7,8,9,10]}
df = pd.DataFrame(data)

df['V']= (4/3)*3.14*(df['r']**3)
df

    r            V
0   1     4.186667
1   2    33.493333
2   3   113.040000
3   4   267.946667
4   5   523.333333
5   6   904.320000
6   7  1436.026667
7   8  2143.573333
8   9  3052.080000
9  10  4186.666667

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [3]:
# Your code here
import pandas as pd
from statistics import harmonic_mean

df = pd.read_csv("C://Users/Sasi9/Downloads/INFO5502-Summer2022-main/INFO5502-Summer2022-main/datasets/lab_assignment_02_denton_housing.csv")
df.shape

(42, 3)

In [4]:
df_occupied = df[df['title_field']=='Occupied Housing Units']
df_occupied.shape

(7, 3)

In [5]:
#1
df_occupied.sort_values('year',ascending=True,inplace=True)
df_occupied['diff_in_no_of_Occupied']=abs(df_occupied['value'].diff())
df_occupied=df_occupied.dropna()
df_occupied=df_occupied.reset_index(drop=True)
df_occupied.sort_values(by='diff_in_no_of_Occupied',ascending=True,inplace=True)
for i in df_occupied.index:
    print(str(df_occupied['year'][i])+'-'+str(df_occupied['year'][i]-1),'',df_occupied['diff_in_no_of_Occupied'][i])

2011-2010  303.0
2009-2008  795.0
2012-2011  1404.0
2013-2012  1565.0
2014-2013  2622.0
2010-2009  5091.0

C:\Users\Sasi9\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\Sasi9\AppData\Local\Temp\ipykernel_22576\1716176455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_occupied['diff_in_no_of_Occupied']=abs(df_occupied['value'].diff())

In [125]:
#2
Housing_Perc = pd.DataFrame(columns = ['Year', 'Vacant Housing Units', 'Occupied Housing Units'])
Output_Perc_Table = {}

for year in range(2008, 2015):
    Output_Perc_Table['Year'] = year
    Output_Perc_Table['Vacant Housing Units'] = round((df[(df['year'] == year)]['value'].values[1]) / (df[(df['year'] == year)]['value'].values[0])*100, 2)
    Output_Perc_Table['Occupied Housing Units'] = round((df[(df['year'] == year)]['value'].values[2]) / (df[(df['year'] == year)]['value'].values[0])*100, 2) 
    Housing_Perc = Housing_Perc.append(Output_Perc_Table, ignore_index=True)

Housing_Perc['Year'] = Housing_Perc['Year'].astype('int64')
Housing_Perc

   Year  Vacant Housing Units  Occupied Housing Units
0  2008                 10.88                   89.12
1  2009                  9.07                   90.93
2  2010                  8.14                   91.86
3  2011                  9.38                   90.62
4  2012                  6.68                   93.32
5  2013                  8.80                   91.20
6  2014                  5.73                   94.27

In [127]:
#3
Noof_Units_Housing = pd.DataFrame(columns=['Units','Year', 'Value'])
Output_Units_Table = {}

for i in ['Vacant Housing Units', "Occupied Housing Units"]:
    Output_Units_Table['Units'] = i
    Output_Units_Table['Value'] = df[df['title_field'] == i].max()[2]
    Output_Units_Table['Year'] = df[(df['title_field'] == i) & (df['value'] == Output_Units_Table['Value'])]['year'].values[0]
    Noof_Units_Housing = Noof_Units_Housing.append(Output_Units_Table, ignore_index=True)

Noof_Units_Housing.rename(columns = {'Units':"", 'Year': "Year", "Value": "Value"}, inplace = True)
Noof_Units_Housing

                           Year  Value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [128]:
#4
print("The Harmonic mean of Total Housing Units is: ",harmonic_mean(df[df['title_field'] == 'Total Housing Units']['value']))

The Harmonic mean of Total Housing Units is:  44398.28543969185